.content-scroll {
    height: 200px;
    overflow-y: scroll;
    padding: 5px;
    background-color: #f9f9f9;
    border: #000000;
}

.agreementsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.formTitle {
    margin-bottom: 20px;
}

.agreementItems {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.agreementItem {
    margin-bottom: 10px;
}

